/* RESET DEFAULTS */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MY RULES */

body {
    background-image: url("../img/Noise.png");
    background-color: #011C3C;
}

/*            */
/* High Level */
/*            */

::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-thumb {
    background: #61768F;
    background-clip: content-box;
    border: 5px solid transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:active {
    background: #506075;
    background-clip: content-box;
    border: 5px solid transparent;
    border-radius: 10px;
}

.hidden {
    display: none !important;
}

.site-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.header {
    display: flex;
    height: 8%;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    user-select: none;
}

.body {
    display: flex;
    height: 92%;
    overflow: hidden;
}

.calendar-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    /* background: linear-gradient(180deg, #011C3C -4.55%, #3C4856 8.65%, #465362 12.22%); */
    background-color: #465362;
    /* background-image: url("../img/Noise.png"); */
    height: 100%;
    width: 100%;
    z-index: 10;
    user-select: none; 
}

/*              */
/* Medium Level */
/*              */

.header-left {
    width: 50%;
}

.header-right { 
    display: flex; 
    width: 50%;  
    justify-content: end;
}

.body-sub {
    width: 25%;
    height: 100%;
    user-select: none;
}

.sub-title {
    height: 15%;
    display: flex;
    align-items: end;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    font-family: "Space Grotesk";
    color: white;
    font-size: 2rem;
    mix-blend-mode: soft-light;
}

.body-main {
    width: 50%;
}

.body-content-wrapper {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
    height: calc(100% - 3rem);;
    width: calc(100% - 6rem);;
    border-radius: 8px 8px 0px 0px;
    background: linear-gradient(180deg, #465362 0%, rgba(70, 83, 98, 0.869589) 36.96%, rgba(70, 83, 98, 0.827942) 61.03%, rgba(70, 83, 98, 0) 119.4%);
    overflow-y:scroll;
}

.body-top {
    display: flex;
    flex-direction: column;
    top:0;
    height: 33%;
    position: sticky;
    /* transition: height .04s linear; */
}

.scrolling {
    background: linear-gradient(180deg, #465362 0%, #465362 36.96%, #465362 61.03%, #3F4E5E 72.92%);
}

.calendar-header {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.calendar-header-exit {
    width: 100%;
    height: 42%;
    display: flex;
    justify-content: end;
}

.exit-cal--btn {
    background-color: transparent;
    border: transparent;
    height: 40px;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.3rem;
}

.cal-exit-img--btn {
    cursor: pointer;
}

.calendar-header-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-main {
    height: 85%;
    width: 100%;
    display: flex;
}

.calendar-nav-div {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.calendar-nav-div:hover {
    /* background-color: #61768F; */
    background: linear-gradient(0deg, #61768F 0.18%, rgba(201, 204, 207, 0.02) 83.33%, rgba(217, 217, 217, 0) 91.15%);
    /* background-image: url("../img/Noise.png"); */
}

.cal-nav--btn {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.calendar-body-wrapper {
    /* margin-bottom: 2vh; */
    width: 80%;
    display: flex;
    flex-direction: column;
}

.calendar-body-header {
    width: 100%;
    height: 10%;
    display: grid;
    gap: .2rem;
    background: linear-gradient(360deg, rgba(217, 217, 217, 0.33) 0.18%, rgba(217, 217, 217, 0) 100%);
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
}

.calendar-body-content {
    width: 100%;
    height: 90%;
    display: grid;
    gap: .2rem;
    background: radial-gradient(55.71% 83.61% at 50% 50%, rgba(217, 217, 217, 0.79) 0.18%, rgba(217, 217, 217, 0) 100%);
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.grid-header {
    font-family: "Space Mono";
    font-size: 1.75rem;
    color: #ffffff;
    background-color: #465362;
    /* background-image: url("../img/Noise.png"); */
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: .8rem;
    border-bottom: #D9D9D9 solid .2rem;
}

.grid-item {
    font-family: "Space Mono";
    font-size: 1.5rem;
    color: #ffffff;
    background-color: #465362;
    /* background-image: url("../img/Noise.png"); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: background-color .1s linear;
}

.grid-item:hover {
    background-color: #61768F;
    /* background-image: url("../img/Noise.png"); */
    /* border-radius: 3px; */
}

.asterisk {
    color: red;
}

/*            */
/* Item Level */
/*            */

.logo {
    height: 40px;
    /* z-index: 1000; */
}

.calendar-icon {
    height: 40px;
    stroke: white;
    fill:white;
    cursor: pointer;
}

.tomorrow {
    display: flex;
    justify-content: end;
}

.sub-content-wrapper {
    height: calc(85% - 1rem);
    user-select: none; 
}

.sub-content-left {
    position: fixed;
    align-items: center;
    right: 80vw;
    height: 100%;
    opacity: 30%;
    border-radius: 8px 8px 0px 0px;
    width: 45rem;
    background-color: 465362;
    cursor: pointer;
}

.sub-content-right {
    position: fixed;
    align-items: center;
    left: 80vw;
    height: 100%;
    opacity: 30%;
    border-radius: 8px 8px 0px 0px;
    width: 45rem;
    background-color: 465362;
    cursor: pointer;
}

.main-title {
    height: 50%;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
}

.main-title-text {
    display: flex;
    align-items: end;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    font-family: "Space Grotesk";
    color: white;
}

h1.main-title-text {
    font-size: 3rem;
}

h2.main-title-text {
    font-size: 1.5rem;
}

.main-current {
    height: calc(50%);
}

.main-current-tasks {
    margin-top: 1rem;
}

.main-task {
    display: flex;
    margin-top: 1.5rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-right: 1.1rem;
    height: 5rem;
    width: calc(100% - 3.1rem);
    border-radius: 8px 8px 8px 8px;
    background-color: #D9D9D9;
    justify-content: center;
    overflow-y: hidden;
    /* transition: height .05s linear; */
}

.main-task:focus-within {
    filter: drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.25));
}

input.main-text {
    font-family: "Space Mono";
    font-size: 18px;
    width: 100%;
    height: 100%;
    padding: 12px 10px 12px 20px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: transparent;
  }

.main-text:focus {
    outline: none;
    border: none;
}

.main-task-form {
    width: 100%;
}

.main-task-detail--btn {
    outline: none;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 10%;
    cursor: pointer;
    user-select: none;
    transition: background-color .12s linear;
}

.main-task-detail--btn:hover {
    background-color: #a9a9a960;
    border-radius: 0px 8px 8px 0;
}

.main-task-detail--btn-expanded.main-task-detail--btn:hover {
    background-color: #a9a9a96c;
}


.main-task-detail--btn-expanded {
    background-color: #a9a9a960;
    border-radius: 0px 8px 8px 0;
}

.main-task-detail--img {
    transition: transform .12s linear;
}

.main-task-detail--clicked {
    transform: scale(1, -1);
 }

.assigned-task {
    display: flex;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-right: 1.1rem;
    height: 5rem;
    width: calc(100% - 3.1rem);
    border-radius: 8px 8px 8px 8px;
    background-color: #152A42;
    color: #FFFFFF;
    align-items: center;
}

.task--finished {
    background-color: #C0DFA1;
    color: #152A42;
    font-weight: 600;
}

.assigned-task--btn {
    outline: none;
    border: none;
    background-color: transparent;
    width: 4.5rem;
    user-select: none;
}

.task--btn--img {
    cursor: pointer;
}

.assigned-task--text{
    font-family: "Space Mono";
    font-size: 18px;
    width: 100%;
    padding: 12px 10px 12px 8px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: transparent;
}

.soft-light{
    mix-blend-mode: soft-light;
    background-blend-mode: soft-light;
}

.sub-content-container > .assigned-task {
    flex-direction: row;
    width: auto;
    margin: 2rem;
    justify-items: end;
}

.no-render {
    display: flex;
    font-size: 10rem;
    height: 75%;
    width: 60%;
    align-items: center;
    justify-content: center;
}

.sub-content-left > .sub-content-container > .no-render {
    justify-content: end;  
    width: 80%;
}

.sub-content-right:hover {
    opacity: .5;
}

.sub-content-left:hover {
    opacity: .5;
}

.cal-alt-month.grid-item {
    /* mix-blend-mode: soft-light; */
    opacity: .45;
}

.cal-cover {
    background-color: #31363c;
    opacity: .5;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.cal-content-number {
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;

}

.cal-content-tasks {
    display: flex;
    height: 45%;
    width: 100%;
    justify-content: center;
    margin-top: 1.2rem;
    gap: .6rem;
}

.cal-task {
    border-radius: 100px;
    font-size: 1.1rem;
    height: 1.6rem;
    width: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #152A42;
    font-weight: 800;
    opacity: .5;
}

.cal-task-finished {
    background-color: #C0DFA1;
}

.cal-task-assigned {
    background-color: #a3a7ac;
}

.grid-item.cal-today {
    background-color: #6e757c;
}

.grid-item.cal-today:hover {
    background-color: #858b92;
}

.grid-item.cal-selected {
    background-color: #012b5f;
}

.grid-item.cal-selected:hover {
    background-color: #023672;
}

.task-delete-button {
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: background-color .1s linear;
    border-radius: 0px 8px 8px 0;
}

.task-delete-button:hover {
    background-color: #77000069;

}

.task-del--btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.edit-text {
    font-family: "Space Mono";
    font-size: 18px;
    width: 100%;
    color: inherit;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: transparent;
    font-weight: inherit;
    padding: 0px;
}

.edit-text:focus {
    outline: none;
    border: none;
}

.assigned-task--text > p {
    user-select: none;
    cursor: text;
}

.delete--btn--img {
    user-select: none;
}

.body-top-expanded {
    height: 100%;
}

.main-current-expanded {
    height: 308%;
}

.main-task.main-task-expanded {
    height: 90%;
    overflow-y: hidden;
}

.main-task-form-expanded {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-text.main-text-expanded {
    height: 10%;
    width: 90%;
    background-color: #465362;
    border-radius: 8px;
    color: #ffffff;
    font-size: 1rem;
}

.form-desc {
    display: flex;
    align-items: end;
    width: 90%;
    height: 7%;
    padding-bottom: .25rem;
    padding-left: .75rem;
    font-family: 'space mono';
    font-weight: 400;
    font-size: 1.1rem;
}
